h1{
	font-size: 50px;
	text-align: center;
}

.text{
	padding: 10px;
	margin-top: 15px;
}

section{
	display: inline-block;
	height: 350px;
	width: 25%;
	text-align: justify;
	border: 2px solid black;
	text-indent: 20px;
}


@media (min-width : 992px){

div.container{
	display: inline-block;
	margin-left: 70px;
}

.back1{
	background-color: pink;
	margin: 35px;
	float: left;
	width: 33,3%;
}

.back2{
	background-color: pink;
	margin: 35px;
	float: left;
	width: 33,3%;
}

.back3{
	background-color: pink;
	margin: 35px;
	float: left;
	width: 33,3%;
}

.bor{
	height: 20px;
	width: 100px;
	text-align: center;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	background-color: gray;
	color: white;
	float: right;
	clear: left;
	position: relative;
}

.container{
	position: absolute;
}
}

@media (min-width : 768px) and (max-width: 991px) {


div.container{
	display: inline-block;
	text-align: center;
	margin-left: 10px;
}

.back1{
	background-color: lightgreen;
	margin:15px;
	float: left;
	width: 45%;
}

.back2{
	background-color: lightgreen;
	margin:15px;
	float: left;
	width: 45%;

}

.back3{
	background-color: lightgreen;
	margin-right: 50px;
	margin:15px;
	float: left;
	width: 93.5%;
	height: 100%;
	

}

section{
	display: inline-block;
	height: 250px;
	width: 100%;
	text-align: justify;
	border: 2px solid black;
	text-indent: 20px;
	margin-left: 30px;
}

.bor{
	height: 20px;
	width: 100px;
	text-align: center;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	background-color: gray;
	color: white;
	float: right;
	clear: left;
	position: relative;
}

.container{
	position: absolute;
}
}


@media (max-width: 767px) {

	
div.container{
	text-align: center;
	display: inline-block;
	margin-right: 40px;
}

.back1{
	background-color: lightblue;
	margin: 15px;
	width: 100%;
}

.back2{
	background-color: lightblue;
	margin: 15px;
	width: 100%;
}

.back3{
	background-color: lightblue;
	margin: 15px;
	width: 100%;
}

section{
	height: 100%;
	width: 100%;
	text-align: justify;
	border: 2px solid black;
	text-indent: 20px;
	margin-left: 30px;
}

.bor{
	height: 20px;
	width: 100px;
	text-align: center;
	border-left: 2px solid black;
	border-bottom: 2px solid black;
	background-color: gray;
	color: white;
	float: right;
	clear: left;
	position: relative;
}

.container{
	position: absolute;
}
}